<article class="stripe">
  <div>
  <h2>Notable Projects</h2>

  <!-- this site -->
  <section class="with-fig">
    <figure>
      <img src="/images/site.png">
    </figure>
    <div class="desc">
      <h3 class="title">This Site</h3>
      <p>Both a project and a portfolio. Designed and built it from
      the ground up to showcase my skills as a developer.<p>
      <h4>Important technologies:</h4>
      <ul>
        <li><a href="http://middlemanapp.com">Middleman</a></li>
        <li><a href="http://pages.github.io">Github Pages</a></li>
        <li><a href="http://sass-lang.com">Sassy CSS</a></li>
        <li>HTML5</li>
      </ul>
      <%= ghbutton "dperny.net", type: "watch" %>
    </div>
  </section>
  </div>

  <!-- daybreaker -->
  <div>
  <section class="with-fig">
    <figure>
      <img src="/images/daybreaker.png">
    </figure>
    <div class="desc">
      <h3 class="title">Daybreaker</h3>
      <p>A Ruby on Rails app throw together in 56 hours for Tuscaloosa Startup
      Weekend in Fall 2014. Almost functional, try it out!</p>
      <h4>Important technologies:</h4>
      <ul>
        <li><a href="http://rubyonrails.org">Ruby on Rails</a></li>
        <li><a href="http://heroku.com">Heroku</a></li>
      </ul>
      <%= ghbutton "daybreaker", user: "mastertasker", type: "watch" %>
    </div>
  </section>
  </div>
</article>
