header {
  border-bottom: 1px solid;
  padding: 10px;

  background: #eee;

  // flexbox properties
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  h1 {
    // font-size: 72px;
    display: block;
    margin: auto;
  }

  nav {
    display: block;
    margin: auto;

    ul {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      li {
        display: block;

        border: 0;
        border-left: 1px solid;
        &:first-child {
          border-left: 0 none;
        }

        a {
          display: block;

          padding: 10px 10px;
          text-decoration: none;
          color: black;

          &:hover {
            background:#ccc;
          }
        }
      }
    }
  }
}
