@import 'mixins';
@import 'header';
@import 'main';

/* BEST RULE EVER. TRULY I HAVE FOUND LIFE ANEW */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

/* All headers alwasy Molengo */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Molengo', Georgia, Times, serif;
}

/* container object for the card */
.card {
  max-width: 1024px;
  margin: 0 auto;
}

/* my personal photo */
img.me {
  float: left;
  width: 150px;
  margin: 10px;
}

article {
  @include constrain(1024px);
}

.bio {
  h2 {
    padding: 10px;
  }
}

/* main information box */
.info {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  float: right;
  width: 67%;
  padding: 0 10px;
}

.name {
  font-size: 32px;
}

@media screen and (max-width: 720px) {
  .headshot {
    width: 100%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 720px) {
  .info {
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align: center
  }
}

@media screen and (max-width: 720px) {
  .card {
    max-width: 480px;
    margin: 0 auto;
  }
}
