<article>
  <section>
    <h2>Contact Me</h2>
    <p>The easiest way to reach me is to send me an email at 
    <a href="mailto:drewerny@gmail.com">drewerny@gmail.com</a>.
    </p>
    <p>No restriction. No reason needed. Recruiters, potential pals, and spam all welcome alike.</p>
    <h3>Catch Me 'Round Your Favorite Internets:</h3>
    <ul>
      <li><a href="http://twitter.com/dperny">Twitter</a></li>
      <li><a href="http://blog.dperny.net">Tumblr</a></li>
      <li><a href="http://github.com/dperny">Github</a></li>
    </ul>
  </section>
</article>
