<div class="card constrain">
  <div class="name info" ><h1>Drew Erny</h1></div>
  <img class="headshot" src="images/me.jpg">
  <div class="email info"><a href="mailto:drewerny@gmail.com">drewerny@gmail.com</a></div>
  <div class="tel info"  >(985) 665-1284</div>
  <div class="info">
    <p>Specializing in web development with HTML5, CSS3, and Javascript to
    bring your content to the most ubiquitous application runtime ever seen:
    the modern web browser.</p>
  </div>
</div>
