<!-- My Bio -->
<main>
  <article class="bio">
    <section> 
      <figure>
        <img src="/images/me.jpg">
      </figure>
      <div class="desc">
      <h3>About Me</h3>
        <p>My name is Drew Erny, and I'm a developer. I have a ton of experience in 
        full-stack web, but there's nothing I can't learn and no tricks I can't be 
        taught.I have an intermediate knowledge of Python, Ruby, Java, C, Javascript, and
        SQL.
        </p>
      </div>
    <section>
  </article>
</main>
