<!-- My Bio -->
<main>
  <article>
    <div class="stripe">
    <h2>About Me</h2>
    <section class="with-fig"> 
      <figure>
        <img src="/images/me.jpg" alt="A picture of me.">
      </figure>
      <div class="desc">
      <h3>Bio</h3>
        <p>My name is Drew Erny, and I'm a developer and student living in
        Tuscaloosa, Alabama.</p>
        <p>As a developer, I'm interested primarily in software engineering. 
        I believe that software engineering, that is, making beautiful, maintainable,
        and testable software, is an art.</p>
        <p>Most of my experience is in full-stack web development, but I would
        like to explore deployment and release, database administration, and
        other fields that involve writing code for other programmers as the end
        users.</p>
        <p>Interested in me? <a href="/contact">Drop me a line if you'd like to chat.</a></p>
      </div>
    </section>
    </div>
  </article>
</main>
